body {
    background-color: $baseBg;
    color: $baseText;
    font-family: 'Open Sans';
}
input[type="submit"], button {
    cursor: pointer;
}
.website-content {
    display: flex;
}
.container {
    width: 1400px;
    margin: 0 auto;
}
.website-aside {
    flex: 0 0 180px;
}
.website-page {
    flex-grow: 1;
    &__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
    }
}
.flex-page {
    display: flex;
    gap: 20px;
    &__left {
        flex: 0 0 700px;
    }
    &__right {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}