.user-card {
    @include block-styles(16px);

    display: flex;
    gap: 20px;
    main {
        margin-bottom: 8px;
    }
    &__name {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 8px;
    }
    &__image-block {
        border: 1px solid $baseBg;
        border-radius: 5px;
        height: 100px;
        width: 100px;
        text-align: center;
        overflow: hidden;
    }
    img {
        height: 100%;
    }
}

.user-card-small {
    a {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 20px;
    }
    &__image-block {
        border-radius: 50%;
        overflow: hidden;
        height: 60px;
        width: 60px;
    }
    &__image-block img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    } 
    &__name {
        font-weight: 600;
    }
}

.user-card-small-extra {
    a {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 20px;
    }
    &__image-block {
        border-radius: 50%;
        overflow: hidden;
        height: 44px;
        width: 44px;
    }
    &__image-block img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    } 
    &__name {
        font-size: 17px;
        font-weight: 600;
    }
}