.user-page {
    &__about {
        @include block-styles(26px);
        margin-bottom: 20px;
        display: flex;
        gap: 20px; 
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}




.user-page-info__text-block {

    header h1 {
        font-size: 20px;
    }
    footer {
        display: flex;
    }
}















.user-page-content {
    display: flex;
    gap: 20px;
    &__left {
        flex: 0 0 700px;
    }
    &__right {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }         
}

.user-list-page {
    display: flex;
    gap: 20px;
    &__left {
        flex: 0 0 700px;
    }
    &__right {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    } 
}

.user-list {
    li {
        margin-bottom: 16px;
    }
}