.users-block {
    
    li:not(:last-child) {
        margin-bottom: 16px;
    }    
}

.users-block-small {
    @include block-styles(26px);

    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    li:not(:last-child) {
        margin-bottom: 16px;
    }    
}