.btn-block {
    @include block-styles(16px 26px);
    display: flex;
    justify-content: center;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: $white;
    width: fit-content;
    min-width: 120px;
    height: 38px;
    font-size: 17px;
    padding: 0 20px;
    cursor: pointer;
    &.hidden {
        display: none;
    }
}

.btn-link {
    display: block;
    cursor: pointer;
}

.btn-link-blue {
    color: $btnBlue;
    &:hover {
        color: lighten($btnBlue, 10);  
    }     
}

.btn-link-default {
    background-color: $white; 
    color: $btnDefault;
    &:hover {
        color: lighten($btnDefault, 10);  
    }     
}



.btn-green {
    background-color: $white; 
    border: 1px solid $btnGreen;
    color: $btnGreen;
    &:hover {
        background-color: lighten($btnGreen, 5); 
        color: $white;    
    }  
}
.btn-red {
    background-color: $btnRed;
    &:hover {
        background-color: lighten($btnRed, 5);      
    }    
}
.btn-blue {
    background-color: $white; 
    border: 1px solid $btnBlue;
    color: $btnBlue;
    &:hover {
        background-color: lighten($btnBlue, 5); 
        color: $white;    
    }    
}

.btn-light {
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.btn-light-green {
    color: green;
    &:hover {
        color: lighten(green, 15);     
    }      
}
.btn-light-red {
    color: red;
    &:hover {
        color: lighten(red, 15);     
    }      
}