.btn-block {
    @include block-styles(16px 26px);
    display: flex;
    justify-content: center;
}
.btn {
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: $white;
    width: fit-content;
    min-width: 120px;
    height: 38px;
    font-size: 17px;
    padding: 0 20px;
}
.btn-green {
    background-color: $btnGreen;
    &:hover {
        background-color: lighten($btnGreen,5);        
    }
}
.btn-red {
    background-color: $btnRed;
    &:hover {
        background-color: lighten($btnRed, 5);      
    }    
}
.btn-blue {
    background-color: $btnBlue;
    &:hover {
        background-color: lighten($btnBlue, 5);     
    }    
}

.btn-light {
    font-size: 15px;
}
.btn-light-red {
    color: red;
    &:hover {
        color: lighten(red, 15);     
    }      
}