.notification {
    position: relative;
    background-color: #d8edff;
    overflow: hidden;
    border: 1px solid #9cd1ff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 0 15px;
    color: #0058a5;
    font-size: 18px;
    display: flex;
    align-items: center;
    opacity: 0;
    animation: appear 0.5s forwards;
    &::after {
        content: '';
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/svg/close-dark.svg);
        background-size: contain;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}
.notification.hidden {
    opacity: 100%;
    animation: disappear 0.5s forwards;
    &::after {
        height: 0;
    }      
}

@keyframes appear {
    0% {
        opacity: 0;
        height: 0;
        margin-bottom: 0;
    }
    100% {
        opacity: 1;
        height: 44px;
        margin-bottom: 16px;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        height: 44px;
        margin-bottom: 16px;
    }
    100% {
        opacity: 0;
        height: 0;
        margin-bottom: 0;        

    }
}