.user-card-small {
    height: 50px;
    a {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 20px;
    }
    img {
        height: 100%;
        border-radius: 50%;
    }
    &__name {
        font-weight: 600;
    }
}