$baseBg: #f6f6f6;
$baseText: rgb(49, 73, 94);
$blockShadow: rgba(145, 145, 145, 0.1);

$white: white;

$btnGreen: rgb(68, 167, 68);
$btnRed: rgb(220, 88, 88);
$btnBlue: rgb(32, 116, 240);

$formFocus: blue;